.NiceText2 {
  background: #ffd900;
  border-radius: 100px;
  text-align: center;
  padding: 25px;
  font-size: 32px;
}

.NiceButton2 {
  border-radius: 16px;
  padding: 60px;
  display:block;
  margin: auto;
  background-color: #4CAF50;
  font-size: 32px;
}

.NiceInput {
  border-radius: 16px;
  padding: 10px;
  display:block;
  margin: auto;
  background-color:#AEA;
  font-size: 32px;
}

.hurray {
  background-color:#F0F;
}

.inactive {
  background-color:#EEE;
}

ul li {
  display: inline;
  background-color:#AEA;
  padding: 10px;
}

.RoundBox {
  padding: 100px;
  border-radius: 50%;
  background-color: #FC0;
}



